extends /src/views/common/layout

block append defs
    -
        pageTitle = "Home";
        bodyAttrs.class.push("page_home");

block blockContent
    h1 home

block append blockBodyScripts
    //- +script("home.js")
