:root
    font-size: $font["size"];
    line-height: $font["line-height"];
    font-family: $font-alpha;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent
